<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="deletable_time" value="60" />
		<!--荷物を登録/受取してから、削除できなくなるまでの時間(秒)。削除できなくなったタイミングでslack送信や荷物の時間計算など色々をしている-->
		<add key="remind_time" value="432000" />
		<!--リマインドの時間（秒)。五日後、432000秒後くらいが妥当かな？3600*24=86400、86400*5=432000-->
		<add key="connStr" value="Server=.\SQLEXPRESS;Initial Catalog=parcels;UID=sa;PWD=kumano" />
		<add key="token" value="xoxb-2774263350757-2764305130839-Kymh2rqDJz2w4vLEziXIJ7Ma" />
		<add key="slack_testuser" value="U02NEGNBKSB"/>
	</appSettings>
</configuration>